<div class="raw">
  <div class="col-xs-12">
     <div class="panel panel-default col-xs-4" ng-repeat="section in main.list" style="padding:0px !important;">
      <div class="panel-heading col-xs-12">{{section.name}}</div>
      <div class="panel-body">
        <ul dnd-list="section.elements" dnd-allowed-types="move" style="padding:0px !important;">
          <li style="min-height:20px;" ng-if="!section.elements.length">&nbsp;</li>
           <li class="col-xs-12 btn" ng-class="{'btn-success':main.selected==element,'btn-info':main.selected!=element}" style="margin:5px;" ng-repeat="element in section.elements" 
            dnd-draggable="element"
            dnd-moved="main.moved($index,element,section)"
            dnd-effect-allowed="move"
            dnd-dragstart="main.selected = element">
            {{element.name}}
          </li>
          <li class="dndPlaceholder bg-warning col-xs-12">
            Drop here
          </li>
        </ul>

        
      </div>
    </div>
   
  </div>
</div>

